<p id="category">Eating out</p>
<p id="commerce-name">La Moreneta</p>
<p id="day">October 26th 2012</p>
<p id="time">13:12</p>
<p id="ammount">12.50 €</p>
<p>Paid with</p>
<p>VISA card ending in 0049</p>
<address>
Carrer del Consell de Cent, 401 <br> 
08009, España <br>
+34 932 31 27 26
</address>
<img src="http://maps.google.com/maps/api/staticmap?center=41.395228,2.171143&zoom=15&markers=41.395228,2.171143&size=370x250&sensor=false">
